.modify-logo-address{
    width:810px ;
    height: 290px;
    margin-left: 50px;
    border-bottom: 1px solid #cccccc;
}
.modify-email{
    width: 810px;
    height:240px;
    margin-left: 50px;
    border-bottom: 1px solid #cccccc;
}
.modify-introduction{
    width: 810px;
    height: 480px;
    margin-left: 50px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

.modify-logo-address ul li{
    display: inline-block;
}
.modify-logo-address ul li:nth-child(1){
    margin-left: 50px;
    text-align: right;
    font-size: 19px;
}
.modify-logo-address ul li p{
    margin-top: 20px;
}
.modify-logo-address ul li:nth-child(2){
    margin-left: 40px;
}
.modify-logo-address ul li:nth-child(2) p:nth-child(5) select{
    width: 80px;
    height: 25px;
}
.modify-logo-address ul li:nth-child(2) p:nth-child(5) input{
    width: 120px;
}
.modify-logo-address ul li:nth-child(2) p input{
    width: 160px;
    height: 25px;
    border: 1px solid #cccccc;
}
.modify-logo-address ul li:nth-child(2) p:nth-child(6) input{
    height: 20px;
}
.modify-logo-address ul li:nth-child(2) p:nth-child(3) select,
.modify-logo-address ul li:nth-child(2) p:nth-child(4) select{
    width: 80px;
    height: 25px;
}

.modify-email ul li{
    display: inline-block;
}
.modify-email ul li:nth-child(1){
    margin-left: 55px;
    font-size: 18px;
    text-align: right;
}
.modify-email ul li:nth-child(2){
    margin-left: 45px;
}
.modify-email ul li p {
    margin-top: 25px;
}
.modify-email ul li:nth-child(2) p:nth-child(1){
    margin-top: 20px;
}
.modify-email ul li:nth-child(2) p:nth-child(2){
    margin-top: 20px;
}
.modify-email ul li:nth-child(1) p:nth-child(2){
     margin-top: 50px;

}
.modify-email ul li:nth-child(2) select{
    width: 80px;
    height: 20px;
}
.modify-email ul li:nth-child(2) input{
    width: 160px;
    height: 20px;
    border: 1px solid #cccccc;
}

.modify-introduction ul li {
    display: inline-block;
}
.modify-introduction ul li:nth-child(1){
    position: absolute;
    font-size: 18px;
    margin-left: 50px;
    top: 30px;
}
.modify-introduction ul li:nth-child(2){
    margin-left: 175px;
}
.modify-introduction ul li:nth-child(2) p:nth-child(2){
    margin-top: 20px;
    float: right;
}
.modify-introduction ul li:nth-child(2) p:nth-child(3){
    margin-top: 70px;
}
.modify-introduction ul li:nth-child(2) p:nth-child(3) input{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
}
.modify-introduction ul li:nth-child(2) p:nth-child(3)  a{
    margin-left: 20px;
    font-size: 17px;
}
.modify-introduction ul li:nth-child(2) p:nth-child(1) input{
    margin-top: 30px;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

